.collapse navbar-collapse {
    word-spacing: 90px;
    margin-left: 80px;
}

.navbar-nav me-auto mb-2 mb-lg-0 {
    margin-left: 20px;
}

.container-fluid {
    margin-left: 30px;
}

.col-md-8 .btns {
    margin-right: 80px;
}